.container-pagamento{
}
.descricao-pedido{
	border : 2px solid #D8D8D8;
	border-radius : 5px 5px 0px 0px;
	background-color : #FFEFD5;
	float : left;
	width : 27%;
	clear : hold;
	display : block;
	margin-left : 170px;
	text-align : center;
	border-bottom : none;
}
.descricao-pedido input{
	background-color : #FFEFD5;
}
.check-descricao{
	float : left;
	border : 2px solid #D8D8D8;
	border-top : none;
	border-radius : 0px 0px 5px 5px;
	background-color : #F2F2F2;
	display : inline-block;
	clear : left;
	margin-left : 190px;
	width : 27%;
	padding-left : 20px;
}
.container-forma_pagamento{
	border : 2px solid #D8D8D8;
	border-radius : 0px 5px 5px 5px;
	float : left;
	margin-left : 540px;
	transform:translateY(-618px);
	width : 44%;
	height : 618px;	
}
.group-button{
	border : 2px solid;
	border-radius : 5px;
	float : left;
	text-align : center;
	padding-left : 10px;
	transform:translateX(10px);
}
button[type="button"]{
	width:170px;
	height:90px;
	transform:translateX(15px);
	border-radius : 5px;
	background-color : #E6E6E6;
}
button[type="button"]:hover{
	transform:scale(1.1);
	background-color : #A9F5A9;
	color : white;
	border-color : #58FA58;
}
.pagamentos-feitos{
	border : 2px solid #D8D8D8;
	border-radius : 5px;	
	display :block;
	float : left;
	margin-left : 15px;
	width : 95%;	
}
.menu-pagamento{
	border: 2px solid;
	border-radius : 5px;
	margin-left : 1100px;
	width : 16%;
	height : 618px;
	background-color : #545454;
}
button[type="submit"] img{
	width : 50px;
}
button[type="submit"]{
	width : 95%;
	height : 80px;
	margin-left : 4px;
	margin-top : 5px;
	background-color : #A8A8A8;
}
.button-voltar{
	width : 70px;
}
button[type="submit"]:hover{
	background-color : #CEE3F6;
	transform:scale(1.1);
	border-color : #00BFFF;	
	border-radius : 5px;
	color : white;
}

