        body{
        
    padding:50px;
}

input[type=text] {
  font-family: serif;
}
/* webkit solution */
::-webkit-input-placeholder { 
  font-family: FontAwesome;
  text-align:right; 
}
/* mozilla solution */
input:-moz-placeholder { 
  font-family: FontAwesome;
  text-align:right; 
}

.posicao-LocProd{
    float : left;
}

.posicao-mesa-002{
	position: relative;
	bottom: 149px;
	left: 330px;
}

.posicao-mesa-003{
	position: relative;
	bottom: 298px;
	left: 660px;
}

.posicao-mesa-004{
	position: relative;
	bottom: 290px;
	left: 0px;
}

.posicao-mesa-005{
	position: relative;
	bottom: 438px;
	left: 330px;
}

.posicao-mesa-006{
	position: relative;
	bottom: 587px;
	left: 660px;
}

.posicao-mesa-007{
	position: relative;
	bottom: 587px;
	left: 0px;
}

.posicao-mesa-008{
	position: relative;
	bottom: 735px;
	left: 330px;
}

.posicao-mesa-009{
	position: relative;
	bottom: 885px;
	left: 660px;
}

.container-mesa{
    text-align : center;
    background-color : #F2F2F2;
}
.pedido-mesa{
    border : 2px solid #E6E6E6; 
    border-radius : 5px;
    margin : 15px 10px 15px 15px;
    display : block;
    float : left;
    background-color : #E6E6E6;
    clear : left;
}
.pedido-mesa h5{
    position : relative;
    bottom : 10px;
    padding-left : 5px;
}
.atendente-mesa{
    border : 0px solid #E6E6E6;
    border-radius : 5px;
    display : block;
    float : left;
    margin-top : 15px;
    background-color : #E6E6E6;
}
.produtos-mesa{
    display : block;
    float : left;
    border : 2px solid #E6E6E6;
    border-radius : 5px;
    clear : left;
    width : 830px;
    margin-left : 15px;
    background-color : #E6E6E6;
}   
.button-busca{
	position : relative;
    border : 2px solid #E6E6E6;
    float : left;
    width : 200px;
    top : 5px;
    vertical-align:auto;
    margin : 5px;
    
}
.button-buscax{
	position : relative;
    float : left;
    vertical-align:auto;
    top : 7px;
    left : 10px;
    margin : 5px;
    
}
.button-busca img{
    float : left;
    position : relative;
    top : 5px;
    padding-bottom : 10px;
    width : 50px;
}
.button-editar{
    float : right;
    width : 120px;
    border : 2px solid #E6E6E6;
    position : block;
    margin : 5px;
}
.button-editar:hover{
    transform : scale(1.2);
    border : none;
}
.button-editar img{
    width : 45px;
    float : left;
    position : relative;
    top : 5px;
    left : 5px;
}
.tabela-produtos-mesa{
    float : left;
    border : 1px solid #E6E6E6;
    position : relative;
    border-radius : 5px;
    margin : 5px;
    display : block;
    bottom : 55px;
}
.valor-total{
    border-top : 1px solid #E6E6E6;
}
.valor-total input{
    text-align : right;
    float : right;
    position : relative;
    transform:translateX(300px);
    border-radius : 5px;
    width : 100px;
}
#input-vazio{
    transform:translateX(430px);
    position : relative;
    bottom : 25px;
}
.chek{
    float : left;
    margin : 5px;
    position : relative;
    bottom : 70px;
}
.apagar{
    float : right;
    margin : 00px 10px 10px 0px;
}
.apagar input{
    border-radius : 5px;
    background-color : #E6E6E6;
    width : 130px;
}
.mesa{
    position : relative;
    margin : 10px;
    border : 1px solid #E6E6E6;
    border-radius : 5px;
    float : left;
    padding : 40px;
    line-height : 18px;
    bottom : 153px;
    background-color : #F2F2F2;
    clear : hold;
}
.mesa input{
    border-radius : 5px;
}
.excluir-posicao{
    border-radius : 5px;
    float : left;
    position : relative;
    bottom : 450px;
    margin-left : 770px;
    padding : 8px;
}
.calc-posicao{
    border-radius : 5px;
    float : left;
    position : relative;
    bottom : 450px;
    margin-left : 635px;
    padding : 8px;
}
.print-posicao{
    border-radius : 5px;
    float : left;
    position : relative;
    bottom : 450px;
    margin-left : 635px;
    padding : 8px;
}
.sair-posicao{
    border-radius : 5px;
    float : left;
    position : relative;
    bottom : 450px;
    margin-left : 630px;
    padding : 8px;
}

.sair-posicao-LocProd{
    border-radius : 5px;
    float : left;
    position : relative;
    bottom : 70px;
    margin-left : 300px;
    padding : 8px;
}
.cadastrar-posicao-LocProd{
	display : inline;
    border-radius : 5px;
    float : left;
    position : relative;
    bottom : 55px;
    margin-left : 625px;
    padding : 8px;
}
.cadastrarLoc{
	border:none;
    background-color:#E6E6E6;
}
.sairLoc{
	border:none;
    background-color:#E6E6E6;
}
.excluir,.print,.calc,.sair{
    border:none;
    background-color:white;
}
.print,.calc,.sair,.sairLoc{
    position : relative;
    left : 140px;
}
.excluir:hover,.print:hover,.calc:hover,.sair:hover{
    transform:scale(1.3);
}

.pedidosEntrega {
	position:relative;
	left:15px;
	display:block;
}

.mesaJanela select{
    width : 385px;   
}

.tabela {
	position: fixed;
}

.mesaJanela {
	position: fixed;
	left: 350px;
	top: 42px;
}

.janela {
	position: fixed;
	left: 225px;
	top: 42px;
	
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 350px;
  height: 100%;
  color: #e1ffff;
  margin-top: 50px;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  position:relative;
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}